

$primary-color: #cdcdcd;
$highlight-color: green;

body {
  background-color: $primary-color;
  box-sizing: border-box;
}

a {
  padding: 1em;
}

.active {
  border-bottom: 1px solid $highlight-color;
}

h1 {
  margin-top: 1em;
}

.tag-search {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
}

.new-post {
  margin-top: 2em;
  min-width: 300px;
  width: 33%;
}

.new-post textarea {
  display: block;
}

.new-post button {
  display: block;
}